<div class="container-fluid error-bg">
    <div class="row text-center">
        <div class="col-sm-12">
            <h1>Voltron - by LoanDepot</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <img src="/ErrorPages/404.jpg" class="img-fluid rounded" alt="404 Error Page">
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <br>
            <a class="btn btn-lg" href="">Go back Home...</a>
        </div>
    </div>
</div>

<!-- TODO: Remove this and add this error view it to an Error angular component. -->
<style>
    .error-bg {
        padding: 3rem;
        height: 100vh;
        background-color: #485563;
    }
    h1 {
        color: antiquewhite;
        padding: 3rem;
    }
    a.btn {
        color: antiquewhite;
    }
    a:hover.btn {
        color: #DB402E;
    }
</style>
